/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}
body {
    margin: 0;
    color: black;
    background: white;
    font-family: sans-serif;
    font-weight: 375;
}
.container {
    width: 100;
}
header {
    padding: 50px 45px 35px;
    color: white;
    background-color: orange;
}
h1 {
    font-family: serif;
    font-size: 45px;
    font-weight: 700;
}
h2 {
    font-family: serif;
    font-size: 30px;
    font-weight: 275;
}
h3 {
    font-family: serif;
    color: orange;
    font-size: 30px;
    font-weight: 300;
}
figure {
    width: 100%;
}
figcaption{
    padding: 30px 45px 20px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 400;
    font-style: italic;
}
main {
    padding: 0px 45px 40px;
}


    



/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
